#main {
  height: 100vh;
  display: flex;
}

#left {
  width: 35vw;
  min-width: 360px;
  padding: 8px;
  overflow: auto;
  /*background-color: red;*/
}

#right {
  flex: 1 1 auto;
  position: relative;
  /*background-color: blue;*/
}

#mapContainer {
  position: absolute;
  top: 0; right: 0;
  left: 0; bottom: 0;
  /*background-color: red;*/
}

/* popups on the map */
.leaflet-popup-content h4.title {
  font-size: 24px;
  font-weight: 500;
  margin: 0.2em 0px 0.3em;
}

.leaflet-popup-content .address {
  font-size: 14px;
  margin: 0;
}

#search-result li {
  cursor: pointer;
  list-style-type: none;
  line-height: 31px;
  border-bottom: 1px solid #ddd;
}

@media screen and (max-width: 767px) {
  #main {
    height: auto;
    flex-direction: column;
  }

  #left {
  	width: 100vw;
  }

  #right {
  	height: 60vh;
  }
}
